<%- include('header') %>
<section id="about">
  <div class="container">
    <h2>GitHub</h2>
    <p>The GitHub repository for this page can be found below:</p>
    <br />
    <a href="https://github.com/Chris4285/WSP-Assigment-1" target="_blank"
      >Visit GitHub Repository</a
    >
  </div>
</section>
<%- include('footer') %>
