<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>GitHub | Chris Panetta</title>

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <h1>Chris Panetta</h1>
        <nav>
          <a href="index.html">Home</a>
          <a href="about.html">About Me</a>
          <a href="projects.html">Projects</a>
          <a href="contact.html">Contact Me</a>
          <a href="github.html">GitHub</a>
        </nav>
      </div>
    </header>

    <section id="about">
      <div class="container">
        <h2>GitHub</h2>
        <p>The GitHub of this page can be found below:</p>
        <a href="https://github.com/Chris4285/WSP-Assigment-1">GitHub Page</a>
        <iframe
          src="https://github.com/Chris4285/WSP-Assigment-1"
          title="Chris Panetta's Website"
          allowfullscreen
          class="website"
        ></iframe>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>&copy; 2024 Chris Panetta. All Rights Reserved.</p>
      </div>
    </footer>
  </body>
</html>
