<%- include('header') %>

<section id="home">
  <div class="container">
    <details>
      <summary><h2>Welcome to My Portfolio</h2></summary>
      <p>
        I'm Chris Panetta and I am in Networking & IT Security. To find out more
        about me, click on one of the options above.
      </p>
    </details>
  </div>
</section>

<%- include('footer') %>
