<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Projects | Chris Panetta</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <h1>Chris Panetta</h1>
        <nav>
          <a href="index.html">Home</a>
          <a href="about.html">About Me</a>
          <a href="projects.html">Projects</a>
          <a href="contact.html">Contact Me</a>
          <a href="github.html">GitHub</a>
        </nav>
      </div>
    </header>
    <section id="projects">
      <div class="container">
        <h2>Projects</h2>
        <article>
          <section>
            <h3>The Smart Mirror Project</h3>
            <p>
              The Smart Mirror Project is a project that showcases the
              capabilities of a Raspberry Pi in which it created an interactive
              display that also doubled as a mirror which allowed the user to
              multitask while looking at the mirror.
            </p>
            <a href="https://chrispanetta.com/">View Project</a>
            <br />
          </section>
          <section>
            <h3>Tri Site-To-Site VPN/Personal Intranet</h3>
            <p>
              The project involves setting up a tri-site network topology with a
              site-to-site VPN with IPSec connecting three locations: PTA
              (Home), PBH (Pearl Bridal House), and SIM (Dorm). Each site is
              connected via a secure VPN tunnel, allowing seamless communication
              between devices across different subnets. The network supports
              centralized backup operations using Veeam Backup & Replication,
              where all critical servers and desktops at each site are backed up
              to a centralized NAS located at the PTA site and then backed up to
              the offsite NAS located at the SIM site.
            </p>
            <a href="https://chrispanetta.com/">View Project</a>
            <br />
          </section>
          <section>
            <h3>NGINX Manager</h3>
            <iframe
              src="https://nginx.chrispanetta.com/"
              title="Chris Panetta's Website"
              allowfullscreen
              class="website"
            ></iframe>
          </section>
        </article>
      </div>
    </section>
    <footer>
      <div class="container">
        <p>&copy; 2024 Chris Panetta. All Rights Reserved.</p>
      </div>
    </footer>
  </body>
</html>
