<%- include('header') %>
<section id="projects" class="py-5">
  <div class="container">
    <h2 class="text-center mb-5">Projects</h2>
    <article>
      <div class="mb-5">
        <section class="mb-4">
          <h3>The Smart Mirror Project</h3>
          <p>
            The Smart Mirror Project showcases the capabilities of a Raspberry
            Pi, creating an interactive display that also doubles as a mirror,
            allowing the user to multitask while using the mirror.
          </p>
          <a
            href="https://chrispanetta.com/"
            target="_blank"
            class="btn btn-primary"
            >View Project</a
          >
        </section>

        <section class="mb-4">
          <h3>Tri Site-To-Site VPN/Personal Intranet</h3>
          <p>
            This project involves setting up a tri-site network topology with a
            site-to-site VPN using IPSec, connecting three locations: PTA
            (Home), PBH (Pearl Bridal House), and SIM (Dorm). Each site is
            linked via a secure VPN tunnel, supporting centralized backup using
            Veeam Backup & Replication. All critical servers and desktops at
            each site are backed up to a centralized NAS at the PTA site, with
            offsite backup at the SIM site.
          </p>
          <a
            href="https://chrispanetta.com/"
            target="_blank"
            class="btn btn-primary"
            >View Project</a
          >
        </section>

        <section class="mb-4">
          <h3>FreshRSS Feed</h3>
          <p>
            The FreshRSS Feed is a self-hosted web application for creating and
            managing RSS feeds, built using the React framework.
          </p>
          <p>
            <strong>Username:</strong> Chris <br />
            <strong>Password:</strong> dfm_nqp6muq0wxc!NFJ
          </p>
          <iframe
            src="https://freshrss.chrispanetta.com/"
            title="FreshRSS Feed"
            allowfullscreen
            height="800px"
            width="100%"
            class="border rounded mt-3"
          ></iframe>
        </section>
      </div>
    </article>
  </div>
</section>
<%- include('footer') %>
