* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #7c82f7;
  color: #333;
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
  line-height: 1.8;
  display: flex;
  flex-direction: column;
  align-items: center;

  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .content {
    flex-grow: 1;
  }
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

header {
  background: linear-gradient(45deg, #121df8, #7ca9f7);
  padding: 2em;
  text-align: center;
  color: white;
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

header h1 {
  font-size: 2.5em;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 0.3em;
}

nav {
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
  gap: 2em;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  font-weight: 600;
  position: relative;
  transition: color 0.3s, transform 0.3s;
}

nav a:hover {
  color: #7cd0f7;
  transform: scale(1.05);
}

nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #7cd0f7;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  transition: width 0.3s;
}

nav a:hover::after {
  width: 100%;
}

section#home {
  padding: 4em 2em;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  margin-top: 1em;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

section#home h2 {
  font-size: 2.5em;
  color: #7ca9f7;
  margin-bottom: 0.5em;
  font-weight: 600;
}

section#home p {
  font-size: 1.2em;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
}

#projects .container {
  text-align: center;
}

#projects section {
  margin-bottom: 2em;
  padding: 1.5em;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#projects h3 {
  margin-bottom: 0.5em;
  font-size: 1.5em;
  color: #333;
}

#projects p {
  line-height: 1.6;
  color: #666;
}

#projects a {
  color: #7ca9f7;
  font-weight: bold;
  text-decoration: none;
}

#projects a:hover {
  color: #121df8;
  text-decoration: underline;
}

form {
  max-width: 900px;
  margin: 0 auto;
  padding: 5em;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

form input,
form textarea,
form select {
  width: 400px;
  padding: 1em;
  margin-bottom: 1.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

form input[type="submit"],
form input[type="reset"] {
  background-color: #7c82f7;
  color: white;
  padding: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  width: 300px;
  font-size: 1em;
}

form input[type="submit"]:hover,
form input[type="reset"]:hover {
  background-color: #121df8;
}

form .button-group {
  display: flex;
  justify-content: space-between;
}

.video-container {
  max-width: 300px;
  margin: 1em auto;
}

.video-container video {
  width: 100%;
  border-radius: 10px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1.5em 0;
  width: 100%;
}

footer a {
  color: #7ca9f7;
  text-decoration: none;
  font-weight: bold;
}

footer p {
  margin-bottom: 0.5em;
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 2em;
  }

  nav {
    flex-direction: column;
  }

  nav a {
    margin: 0.5em 0;
  }

  section#home h2 {
    font-size: 2em;
  }

  section#home p {
    font-size: 1em;
    padding: 0 1em;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  header h1 {
    font-size: 2.2em;
  }

  nav a {
    margin: 0 1em;
  }

  section#home h2 {
    font-size: 2.2em;
  }

  section#home p {
    font-size: 1.1em;
  }
}
